// special price

#special_price{
    .button-group button{
        background: none;
    }
    .grid .grid-item{
        margin-right: 1.2rem;
        margin-top: 1rem;
        border-radius: 0.6rem;
    }
}